OnlineTranslation.pro.user*
OnlineTranslation.pro.user

ServerTranslation.pro.user*
ServerTranslation.pro.user


build-ServerTranslation-Desktop-Debug/*
build-OnlineTranslation-Desktop-Debug/*
build-ServerTranslation-Desktop-Debug/ServerTranslation
build-ServerTranslation-Desktop-Release/*
build-OnlineTranslation-Desktop-Release/*

translated.log
stardict.db
